.profile__edit {
  width: 24px;
  height: 24px;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 18px;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
} 

.profile__edit:hover {
opacity: .6;
}