.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 886px) {
  .profile {
       width: 886px;
    }
} 

@media screen and (max-width: 760px) {
  .profile {
       flex-direction: column;
    }
} 