@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/form/form.css');
@import url('../blocks/form/__button/form__button.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/gallery/__description/gallery__description.css');
@import url('../blocks/gallery/__image/gallery__image.css');
@import url('../blocks/gallery/__like/gallery__like.css');
@import url('../blocks/modal/__title-active/modal__title-active.css');
@import url('../blocks/modal/__image-active/modal__image-active.css');
@import url('../blocks/gallery/__like-active/gallery__like-active.css');
@import url('../blocks/gallery/__delete/gallery__delete.css');
@import url('../blocks/gallery/gallery.css');
@import url('../blocks/gallery/__title/gallery__title.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/modal/modal.css');
@import url('../blocks/modal-card-open/modal-open-card.css');
@import url('../blocks/modal/__open-card-active/modal__open-card-active.css');
@import url('../blocks/modal/__card-container/modal__card-container.css');
@import url('../blocks/modal/__card-close-button/modal__card-close-button.css');

@import url('../blocks/modal/__close-button/modal__close-button.css');
@import url('../blocks/modal/__container/modal__container.css');
@import url('../blocks/modal/__open/modal__open.css');
@import url('../blocks/modal/__title/modal__title.css');
@import url('../blocks/page/page.css');
@import url('../blocks/page/__container/page__container.css');
@import url('../blocks/page/__container-edit/page__container-edit.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__add/profile__add.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__card/profile__card.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__job/profile__job.css');
@import url('../blocks/profile/__edit/profile__edit.css');
@import url('../blocks/profile/__input/profile__input.css');
@import url('../blocks/profile/__row/profile__row.css');
/* .gallery__delete {
    background-image: url(../images/gallery/Trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 25px;
    border: none;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    top: 18px;
    right: 15px;
} */

/* .gallery__like-active {
    background-image: url(../images/gallery/like-active.svg);
} */
/* .modal__open-card {
    display: flex;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
} */
/* .modal__open-card-active {
    width: 100%;
    height: 100vh;

    visibility: visible;
    opacity: 1;
} */

/* .modal__card-container {
    margin: 90px auto auto auto;
    position: relative;
}

@media screen and (max-width: 540px) {
    .modal__card-container {
        margin: 136px auto auto auto;
    }
} */

/* .gallery__image-active {
    width: 430px;
    height: 540px;
}

@media screen and (max-width: 540px) {
    .gallery__image-active {
        width: 100%;
    }
  }  */

/* .gallery__title-active {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
} */


/* .modal__card-close-button {
    background-image: url(../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: -5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .modal__card-close-button:hover {
  opacity: .6;
  }
  
  @media screen and (max-width: 540px) {
    .modal__card-close-button {
      width: 26px;
      height: 26px;
      top: -15px;
      right: 6px;
      background-size: 26px 26px;
  }
  } */